body {
    margin: 0px;
    padding: 0px;
}

#img1 {
    background-color: aqua;
}

iframe.iframe {
    height: 310px ;
    margin: 5% 4.93%;
    width: 505px;
}

.center {
    text-align: center;
    margin: 0px;
    line-height: 2;
    color: red;
    text-decoration: underline;
}